<!DOCTYPE html>
<html>
<head>
	<title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <style type="text/css">
    	.warnMsg{
    		color: red;
    	}
    </style>
</head>
<body>
	<div id="userVm" v-cloak>
		<div>
	        <form class="form-horizontal">
				<div class="form-group">
				    <label for="inputName" class="col-sm-1 control-label">用户名</label>
				    <div class="col-sm-3">
				      <input type="text" class="form-control" id="inputName" placeholder="用户名" v-model="accountName">
				    </div>
				    <label for="inputMobile" class="col-sm-2 control-label">手机号</label>
				    <div class="col-sm-3">
				      <input type="text" class="form-control" id="inputMobile" placeholder="手机号" v-model="mobile">
				    </div>
				</div>
				<div class="col-sm-8 control-label">
					<span class="warnMsg" v-if="warnMsg">用户名和手机请必填一项</span>
 					<button type="button" class="btn btn-success " @click="query"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询</button>
					<button type="button" class="btn btn-primary "><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增</button>
					<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除</button>
				</div>
	        </form>
	    </div>
		<div class="table-responsive col-sm-12 control-label" style="margin-top: 20px">
			<table class="table table-bordered">
				<thead>
					<tr>
					  <th></th>
					  <th>用户名</th>
					  <th>手机号</th>
					  <th>真实姓名</th>
					  <th>邮箱</th>
					  <th>性别</th>
					  <th>地址</th>
					  <th>管理员</th>
					  <th>正常</th>
					</tr>
				</thead>
				<tbody v-for="item in items">
					<tr>
					  <td><input type="checkbox">{{item.id}}</td>
					  <td>{{item.accountName}}</td>
					  <td>{{item.mobile}}</td>
					  <td>{{item.realName}}</td>
					  <td>{{item.email}}</td>
					  <td>{{item.gender===0 ? "女":"男"}}</td>
					  <td>{{item.provinceName+item.cityName+item.districtName}}</td>
					  <td>{{item.isAdmin===0 ? "否":"是" }}</td>
					  <td>{{item.isDelete | isDeleteFilter}}</td>
					 <!--  <td><span  class="badge" style="background: #5cb85c">正常</span><span  class="badge" style="background: #d9534f">禁用</span></td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
<script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript">
	var userVm = new Vue({
		el:'#userVm',
		data:{
			accountName:'',
			mobile:'',
			warnMsg:false,
			items:[]
		},
		methods:{
			query:function(){
				// if(!(this.accountName.trim() || this.mobile.trim())){
				// 	this.warnMsg = true;
				// 	setTimeout(function(){
				// 		userVm.warnMsg = false;
				// 	},2000)
				// 	return;
				// }
				// if(this.accountName.trim() || this.mobile.trim()){
					var data = {
						'accountName':this.accountName,
						'mobile':this.mobile
					}
					$.ajax({
						url:'/user/list',
						data:JSON.stringify(data),
						type:'post',
						dataType:'json',
						contentType:'application/json',
						success:function(result){
							if(result.success){
								userVm.items = result.resultData
							}else{
								alert(result.resultMsg)
							}
						},
						error:function(){
							alert('网络异常！')
						}
					})
				// }



			}
		},
		filters:{
			isDeleteFilter:function(value){
				if(value === 0){
					return '正常';
				}else{
					return '禁用';
				}
			}
		}
	})
	
</script>
</html>